.sign-form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.sign-form form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.sign-form form input {
    width: 80%;
    /* padding: 10px; */
    /* border: 1px solid var(--border);
    border-radius: var(--border-radius); */
}

.submit-button {
    width: 75%;
    padding: 10px;
    border: 1px solid var(--border);
    border-radius: var(--border-radius);
    background: var(--primary);
    color: var(--primary-content);
    cursor: pointer;
}

.show-password {
    position: absolute;
    right: 8%;
    width: fit-content;
    background: none;
    border: none;
    cursor: pointer;
}

.show-password-signup {
    position: absolute;
    top: 28%;
    right: 8%;
    width: fit-content;
    background: none;
    border: none;
    cursor: pointer;
}