.menu-options {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: fit-content;
    height: fit-content;
    z-index: 10;
}

.menu-option {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0.375rem;
    width: 150px;
    border-radius: var(--border-radius);
    border: 1px solid var(--border);
    background: var(--primary);
    color: var(--primary-content);
    cursor: pointer;
    font-size: 24px;

}

.menu-option p {
    margin: 0;
    font-size: 0.875rem;
    font-weight: bold;
    text-decoration: none;
}
