.home-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: fit-content;
    overflow-x: hidden;
    overscroll-behavior: contain;
    padding: 1rem;
}
.home-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 80%;
    max-width: 800px;
    height: fit-content;
    padding: 1rem;
    background: var(--foreground);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.create-event-button {
    padding: 10px;
    border-radius: var(--border-radius);
    border: 1px solid var(--border);
    background: var(--primary);
    color: var(--primary-content);
    cursor: pointer;
}

