
.App {
  background: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}



.App h1 {
  color: var(--copy);
  margin: 0;
}

.auth-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 400px;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
  height: 275px;
  background: var(--foreground);
  padding: 1rem;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.auth-toggle {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 15px;
}

.sign-toggle {
  background: var(--primary);
  color: var(--primary-content);
  padding: 10px;
  border-radius: var(--border-radius);
  cursor: pointer;
  border: 1px solid var(--border);
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: fit-content;
  padding: 1rem;
  margin-top: 75px;
}

.page-header {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  background: var(--foreground);
  height: fit-content;
  box-shadow: var(--box-shadow);
  z-index: 10;
}

/* .page-header button {
  padding: 10px;
  border-radius: var(--border-radius);
  border: none;
  box-shadow: var(--box-shadow);
  background: var(--primary);
  color: var(--primary-content);
  cursor: pointer;
} */

.auth-page-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  width: 95%;
  height: 100%;
  padding: 1rem;
  z-index: 1;
  overflow: hidden;
  padding-top: 1rem;
}

.circle {
  position: absolute;
  background: var(--foreground);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  bottom: -50%;
  right: -50%;
  z-index: 0;
  box-shadow: var(--box-shadow);
}

.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid var(--border);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  margin-right: 25px;
}

.menu-options-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 75px;
  right: 0px;
  height: fit-content;
  width: fit-content;
  padding: 1rem;
  background: var(--background);
  border-bottom-left-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  z-index: 5;

}

.notification-container {
  /* position: relative; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.notification-count {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  right: 110px;
  background: var(--secondary);
  color: var(--secondary-content);
  padding: 0.1rem;
  border-radius: 50%;
  font-size: 8px;
  width: 10px;
  height: 10px;
  cursor: pointer;
}

.notification-button {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
}



